<%- include('partials/header') -%>

<h1>A-Z</h1>
<h2>Chengyu are sorted alphabetically by first letter of the Romanized (Jyutping) form of the phrase.</h2>
<section>
    <h3>A</h3>
    <ol>
        <li>BNMG</li>
    </ol>
</section>


<%- include('partials/footer') -%>